main template/metrics.html
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Metrics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">



  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">SVP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="projects.html">Projects
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="login.html">Configuration
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <!-- Categories Widget -->

          <div class="card my-4">
            <h5 class="card-header">Metrics</h5>
            <div class="card-body">
              <form action="dashboard.html">
                <div class="form-group">
                  <label for="sel1"><b>Select metrics:</b></label>
                  <br>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">Precision</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">Recall</label>
                  </div>
                  <div class="checkbox disabled">
                    <label><input type="checkbox" value="">False positives</label>
                  </div>
                  <div class="checkbox disabled">
                    <label><input type="checkbox" value="">False negatives</label>
                  </div>
                  <br>
                  <button type="input" class="btn btn-primary">Select</button>
                </div>
                <br>
              </form>
            </div>
          </div>


  

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="panel panel-default">
        <div class="panel-body">

          <!-- Standar Form -->
          <br>
          <h4>Classiﬁcation results for a synthetic video</h4>
          <br>
          
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Precision</th>
                <th>Recall</th>
                <th>False positives</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Original Video</td>
                <td>0.65</td>
                <td>0.77</td>
                <td>0.28</td>
              </tr>
              <tr>
                <td>Pre-processed video (DBF)</td>
                <td>0.67</td>
                <td>0.84</td>
                <td>0.46</td>
              </tr>
              <tr>
                <td>Pre-processed video (DNLM)</td>
                <td>0.85</td>
                <td>0.73</td>
                <td>0.53</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><b>Relative improvement (DBF)</b></td>
                <td><b>2.8%</b></td>
                <td><b>8.3%</b></td>
                <td><b>8.3%</b></td>
              </tr
              <tr>
                <td><b>Relative improvement (DNLM)</b></td>
                <td><b>15.6%</b></td>
                <td><b>25.3%</b></td>
                <td><b>40.1%</b></td>
              </tr>            
            </tbody>
          </table>
          <br><br>
          <input class="btn btn-secondary " type="button" value="Export to latex" style="position: absolute; right: 0;">
          <br><br>
        </div>

        


      </div>

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->




    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <!-- /.container -->
    </footer>
   

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>


  </body>

</html>

svpWeb/views/metrics.pug
extends layout.pug
block content
    .container
      .row
        .col-lg-3
          // Categories Widget
          .card.my-4
            h5.card-header Metrics
            .card-body
              form(action='dashboard.html')
                .form-group
                  label(for='sel1')
                    b Select metrics:
                  br
                  .checkbox
                    label
                      input(type='checkbox', value='')
                      | Precision
                  .checkbox
                    label
                      input(type='checkbox', value='')
                      | Recall
                  .checkbox.disabled
                    label
                      input(type='checkbox', value='')
                      | False positives
                  .checkbox.disabled
                    label
                      input(type='checkbox', value='')
                      | False negatives
                  br
                  button.btn.btn-primary(type='input') Select
                br
        // /.col-lg-3
        .col-lg-9
          .panel.panel-default
            .panel-body
              // Standar Form
              br
              h4 Classiﬁcation results for a synthetic video
              br
              table.table.table-hover
                thead
                  tr
                    th
                    th Recall
                    th Precision
                    th False positives
                    th False negatives
                tbody
                  each metric in metrics
                    tr
                      td #{metric.name}
                      td #{metric.recall}
                      td #{metric.precision}
                      td #{metric.false_positives}
                      td #{metric.false_negatives}
                  
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                      b Relative improvement (DBF)
                    td
                      b 2.8%
                    td
                      b 8.3%
                    td
                      b 8.3%
                    td
                      b 8.3%
                  td
                    b Relative improvement (DNLM)
                  td
                    b 15.6%
                  td
                    b 25.3%
                  td
                    b 40.1%
                  td
                    b 8.3%
              br
              br
              a.btn.btn-secondary(href='/projects/'+projectName+'/table.tex', style='position: absolute; right: 0;') Export to latex
              br 
              br
        // /.col-lg-9
      // /.row
    // /.container
    // Footer
    footer.py-5.bg-dark
      // /.container
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/popper/popper.min.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
